<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.mapper.ActivityMapper">
  <resultMap id="BaseResultMap" type="com.lanou.model.Activity">
    <id column="active_id" jdbcType="INTEGER" property="activeId" />
    <result column="active_name" jdbcType="VARCHAR" property="activeName" />
    <result column="active_discount" jdbcType="VARCHAR" property="activeDiscount" />
    <result column="active_postage" jdbcType="VARCHAR" property="activePostage" />
    <result column="active_coverUrl" jdbcType="VARCHAR" property="activeCoverurl" />
    <result column="active_brandStory" jdbcType="VARCHAR" property="activeBrandstory" />
    <result column="active_primaryTitle" jdbcType="VARCHAR" property="activePrimarytitle" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="active_endTime" jdbcType="INTEGER" property="activeEndtime" />
    <result column="active_status" jdbcType="INTEGER" property="activeStatus" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="active_brand" jdbcType="VARCHAR" property="activeBrand" />
  </resultMap>
  <sql id="Base_Column_List">
    active_id, active_name, active_discount, active_postage, active_coverUrl, active_brandStory, 
    active_primaryTitle, update_time, active_endTime, active_status, creat_time, active_brand
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ml_activity
    where active_id = #{activeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ml_activity
    where active_id = #{activeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lanou.model.Activity">
    insert into ml_activity (active_id, active_name, active_discount, 
      active_postage, active_coverUrl, active_brandStory, 
      active_primaryTitle, update_time, active_endTime, 
      active_status, creat_time, active_brand
      )
    values (#{activeId,jdbcType=INTEGER}, #{activeName,jdbcType=VARCHAR}, #{activeDiscount,jdbcType=VARCHAR}, 
      #{activePostage,jdbcType=VARCHAR}, #{activeCoverurl,jdbcType=VARCHAR}, #{activeBrandstory,jdbcType=VARCHAR}, 
      #{activePrimarytitle,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{activeEndtime,jdbcType=INTEGER}, 
      #{activeStatus,jdbcType=INTEGER}, #{creatTime,jdbcType=TIMESTAMP}, #{activeBrand,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lanou.model.Activity">
    insert into ml_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="activeId != null">
        active_id,
      </if>
      <if test="activeName != null">
        active_name,
      </if>
      <if test="activeDiscount != null">
        active_discount,
      </if>
      <if test="activePostage != null">
        active_postage,
      </if>
      <if test="activeCoverurl != null">
        active_coverUrl,
      </if>
      <if test="activeBrandstory != null">
        active_brandStory,
      </if>
      <if test="activePrimarytitle != null">
        active_primaryTitle,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="activeEndtime != null">
        active_endTime,
      </if>
      <if test="activeStatus != null">
        active_status,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="activeBrand != null">
        active_brand,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="activeId != null">
        #{activeId,jdbcType=INTEGER},
      </if>
      <if test="activeName != null">
        #{activeName,jdbcType=VARCHAR},
      </if>
      <if test="activeDiscount != null">
        #{activeDiscount,jdbcType=VARCHAR},
      </if>
      <if test="activePostage != null">
        #{activePostage,jdbcType=VARCHAR},
      </if>
      <if test="activeCoverurl != null">
        #{activeCoverurl,jdbcType=VARCHAR},
      </if>
      <if test="activeBrandstory != null">
        #{activeBrandstory,jdbcType=VARCHAR},
      </if>
      <if test="activePrimarytitle != null">
        #{activePrimarytitle,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activeEndtime != null">
        #{activeEndtime,jdbcType=INTEGER},
      </if>
      <if test="activeStatus != null">
        #{activeStatus,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activeBrand != null">
        #{activeBrand,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanou.model.Activity">
    update ml_activity
    <set>
      <if test="activeName != null">
        active_name = #{activeName,jdbcType=VARCHAR},
      </if>
      <if test="activeDiscount != null">
        active_discount = #{activeDiscount,jdbcType=VARCHAR},
      </if>
      <if test="activePostage != null">
        active_postage = #{activePostage,jdbcType=VARCHAR},
      </if>
      <if test="activeCoverurl != null">
        active_coverUrl = #{activeCoverurl,jdbcType=VARCHAR},
      </if>
      <if test="activeBrandstory != null">
        active_brandStory = #{activeBrandstory,jdbcType=VARCHAR},
      </if>
      <if test="activePrimarytitle != null">
        active_primaryTitle = #{activePrimarytitle,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activeEndtime != null">
        active_endTime = #{activeEndtime,jdbcType=INTEGER},
      </if>
      <if test="activeStatus != null">
        active_status = #{activeStatus,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activeBrand != null">
        active_brand = #{activeBrand,jdbcType=VARCHAR},
      </if>
    </set>
    where active_id = #{activeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanou.model.Activity">
    update ml_activity
    set active_name = #{activeName,jdbcType=VARCHAR},
      active_discount = #{activeDiscount,jdbcType=VARCHAR},
      active_postage = #{activePostage,jdbcType=VARCHAR},
      active_coverUrl = #{activeCoverurl,jdbcType=VARCHAR},
      active_brandStory = #{activeBrandstory,jdbcType=VARCHAR},
      active_primaryTitle = #{activePrimarytitle,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      active_endTime = #{activeEndtime,jdbcType=INTEGER},
      active_status = #{activeStatus,jdbcType=INTEGER},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      active_brand = #{activeBrand,jdbcType=VARCHAR}
    where active_id = #{activeId,jdbcType=INTEGER}
  </update>
  <!--根据activePrimaryTitle活动名字查询-->
  <select id="findByActivePrimaryTitle" parameterType="String" resultMap="BaseResultMap">
    select * from ml_activity where
     active_primaryTitle = #{activePrimarytitle,jdbcType=VARCHAR}
  </select>
</mapper>