<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanou.mapper.GoodsMapper">
    <resultMap id="BaseResultMap" type="com.lanou.model.Goods">
        <id column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_color" property="goodsColor" jdbcType="VARCHAR"/>
        <result column="goods_brand" property="goodsBrand" jdbcType="VARCHAR"/>
        <result column="goods_currentPrice" property="goodsCurrentprice" jdbcType="DECIMAL"/>
        <result column="goods_beforePrice" property="goodsBeforeprice" jdbcType="DECIMAL"/>
        <result column="goods_discount" property="goodsDiscount" jdbcType="VARCHAR"/>
        <result column="goods_description" property="goodsDescription" jdbcType="VARCHAR"/>
        <result column="goods_primaryTitle" property="goodsPrimarytitle" jdbcType="VARCHAR"/>
        <result column="goods_secondTitle" property="goodsSecondtitle" jdbcType="VARCHAR"/>
        <result column="goods_thirdTitle" property="goodsThirdtitle" jdbcType="VARCHAR"/>
        <result column="pic1" property="pic1" jdbcType="VARCHAR"/>
        <result column="pic2" property="pic2" jdbcType="VARCHAR"/>
        <result column="pic3" property="pic3" jdbcType="VARCHAR"/>
        <result column="pic4" property="pic4" jdbcType="VARCHAR"/>
        <result column="pic_sizeInfo" property="picSizeinfo" jdbcType="VARCHAR"/>
        <result column="pic_productInfo" property="picProductinfo" jdbcType="VARCHAR"/>
        <result column="pic_baoYang" property="picBaoyang" jdbcType="VARCHAR"/>
        <result column="pic5" property="pic5" jdbcType="VARCHAR"/>
        <result column="pic6" property="pic6" jdbcType="VARCHAR"/>
        <result column="pic7" property="pic7" jdbcType="VARCHAR"/>
        <result column="pic8" property="pic8" jdbcType="VARCHAR"/>
        <result column="pic9" property="pic9" jdbcType="VARCHAR"/>
        <result column="pic10" property="pic10" jdbcType="VARCHAR"/>
        <result column="pic11" property="pic11" jdbcType="VARCHAR"/>
        <result column="pic12" property="pic12" jdbcType="VARCHAR"/>
        <result column="pic_priceIndication" property="picPriceindication" jdbcType="VARCHAR"/>
        <result column="pic_afterSales" property="picAftersales" jdbcType="VARCHAR"/>
        <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="goods_activityId" property="goodsActivityid" jdbcType="INTEGER"/>
    </resultMap>
    <!--++++++++++++++-->
    <resultMap id="activityToGoods" type="com.lanou.model.Activity">
        <id column="active_id" jdbcType="INTEGER" property="activeId"/>
        <result column="active_name" jdbcType="VARCHAR" property="activeName"/>
        <result column="active_discount" jdbcType="VARCHAR" property="activeDiscount"/>
        <result column="active_postage" jdbcType="VARCHAR" property="activePostage"/>
        <result column="active_coverUrl" jdbcType="VARCHAR" property="activeCoverurl"/>
        <result column="active_brandStory" jdbcType="VARCHAR" property="activeBrandstory"/>
        <result column="active_primaryTitle" jdbcType="VARCHAR" property="activePrimarytitle"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="active_endTime" jdbcType="INTEGER" property="activeEndtime"/>
        <result column="active_status" jdbcType="INTEGER" property="activeStatus"/>
        <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime"/>
        <result column="active_brand" jdbcType="VARCHAR" property="activeBrand"/>
        <collection property="goodsList" ofType="Goods">
            <id column="goods_id" property="goodsId" jdbcType="INTEGER"/>
            <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
            <result column="goods_color" property="goodsColor" jdbcType="VARCHAR"/>
            <result column="goods_brand" property="goodsBrand" jdbcType="VARCHAR"/>
            <result column="goods_currentPrice" property="goodsCurrentprice" jdbcType="DECIMAL"/>
            <result column="goods_beforePrice" property="goodsBeforeprice" jdbcType="DECIMAL"/>
            <result column="goods_discount" property="goodsDiscount" jdbcType="VARCHAR"/>
            <result column="goods_description" property="goodsDescription" jdbcType="VARCHAR"/>
            <result column="goods_primaryTitle" property="goodsPrimarytitle" jdbcType="VARCHAR"/>
            <result column="goods_secondTitle" property="goodsSecondtitle" jdbcType="VARCHAR"/>
            <result column="goods_thirdTitle" property="goodsThirdtitle" jdbcType="VARCHAR"/>
            <result column="pic1" property="pic1" jdbcType="VARCHAR"/>
            <result column="pic2" property="pic2" jdbcType="VARCHAR"/>
            <result column="pic3" property="pic3" jdbcType="VARCHAR"/>
            <result column="pic4" property="pic4" jdbcType="VARCHAR"/>
            <result column="pic_sizeInfo" property="picSizeinfo" jdbcType="VARCHAR"/>
            <result column="pic_productInfo" property="picProductinfo" jdbcType="VARCHAR"/>
            <result column="pic_baoYang" property="picBaoyang" jdbcType="VARCHAR"/>
            <result column="pic5" property="pic5" jdbcType="VARCHAR"/>
            <result column="pic6" property="pic6" jdbcType="VARCHAR"/>
            <result column="pic7" property="pic7" jdbcType="VARCHAR"/>
            <result column="pic8" property="pic8" jdbcType="VARCHAR"/>
            <result column="pic9" property="pic9" jdbcType="VARCHAR"/>
            <result column="pic10" property="pic10" jdbcType="VARCHAR"/>
            <result column="pic11" property="pic11" jdbcType="VARCHAR"/>
            <result column="pic12" property="pic12" jdbcType="VARCHAR"/>
            <result column="pic_priceIndication" property="picPriceindication" jdbcType="VARCHAR"/>
            <result column="pic_afterSales" property="picAftersales" jdbcType="VARCHAR"/>
            <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP"/>
            <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
            <result column="goods_activityId" property="goodsActivityid" jdbcType="INTEGER"/>
        </collection>
    </resultMap>
    <!--+++++++++++++++-->
    <resultMap id="goodsToSize" type="com.lanou.model.Goods">
        <id column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_color" property="goodsColor" jdbcType="VARCHAR"/>
        <result column="goods_brand" property="goodsBrand" jdbcType="VARCHAR"/>
        <result column="goods_currentPrice" property="goodsCurrentprice" jdbcType="DECIMAL"/>
        <result column="goods_beforePrice" property="goodsBeforeprice" jdbcType="DECIMAL"/>
        <result column="goods_discount" property="goodsDiscount" jdbcType="VARCHAR"/>
        <result column="goods_description" property="goodsDescription" jdbcType="VARCHAR"/>
        <result column="goods_primaryTitle" property="goodsPrimarytitle" jdbcType="VARCHAR"/>
        <result column="goods_secondTitle" property="goodsSecondtitle" jdbcType="VARCHAR"/>
        <result column="goods_thirdTitle" property="goodsThirdtitle" jdbcType="VARCHAR"/>
        <result column="pic1" property="pic1" jdbcType="VARCHAR"/>
        <result column="pic2" property="pic2" jdbcType="VARCHAR"/>
        <result column="pic3" property="pic3" jdbcType="VARCHAR"/>
        <result column="pic4" property="pic4" jdbcType="VARCHAR"/>
        <result column="pic_sizeInfo" property="picSizeinfo" jdbcType="VARCHAR"/>
        <result column="pic_productInfo" property="picProductinfo" jdbcType="VARCHAR"/>
        <result column="pic_baoYang" property="picBaoyang" jdbcType="VARCHAR"/>
        <result column="pic5" property="pic5" jdbcType="VARCHAR"/>
        <result column="pic6" property="pic6" jdbcType="VARCHAR"/>
        <result column="pic7" property="pic7" jdbcType="VARCHAR"/>
        <result column="pic8" property="pic8" jdbcType="VARCHAR"/>
        <result column="pic9" property="pic9" jdbcType="VARCHAR"/>
        <result column="pic10" property="pic10" jdbcType="VARCHAR"/>
        <result column="pic11" property="pic11" jdbcType="VARCHAR"/>
        <result column="pic12" property="pic12" jdbcType="VARCHAR"/>
        <result column="pic_priceIndication" property="picPriceindication" jdbcType="VARCHAR"/>
        <result column="pic_afterSales" property="picAftersales" jdbcType="VARCHAR"/>
        <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="goods_activityId" property="goodsActivityid" jdbcType="INTEGER"/>
        <collection property="sizes" ofType="Size">
            <id column="size_id" property="sizeId" jdbcType="INTEGER" />
            <result column="size_name" property="sizeName" jdbcType="VARCHAR" />
            <result column="goods_size_Id" property="goodsSizeId" jdbcType="INTEGER" />
            <result column="goods_number" property="goodsNumber" jdbcType="VARCHAR" />
            <result column="size_count" property="sizeCount" jdbcType="INTEGER" />
            <result column="size_status" property="sizeStatus" jdbcType="INTEGER" />
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
    goods_id, goods_name, goods_color, goods_brand, goods_currentPrice, goods_beforePrice, 
    goods_discount, goods_description, goods_primaryTitle, goods_secondTitle, goods_thirdTitle, 
    pic1, pic2, pic3, pic4, pic_sizeInfo, pic_productInfo, pic_baoYang, pic5, pic6, pic7, 
    pic8, pic9, pic10, pic11, pic12, pic_priceIndication, pic_afterSales, creat_time, 
    update_time, goods_activityId
  </sql>
    <!--1.根据条件查询goods的集合 包含activityId-->
    <select id="findActivityToGoodsById" resultMap="activityToGoods" parameterType="Goods">
        select * FROM
        ml_activity a, ml_goods g
        where
        <if test="goodsBrand != null">
            g.goods_brand = #{goodsBrand} AND
        </if>
        <if test="goodsThirdtitle != null">
            g.goods_thirdTitle = #{goodsThirdtitle} AND
        </if>
        a.active_id = g.goods_activityId AND g.goods_activityId = #{goodsActivityid}
    </select>
    <!--2.不包含activityId，却包含模糊查询条件
        模糊查询条件规定四种
        品牌、一级标题、二级标题、三级标题 任选其一-->
    <select id="findGoodsWithoutActivity" resultMap="BaseResultMap" parameterType="Map">
        select * FROM
        ml_goods g
        where
        <if test="goodsBrand != null">
            g.goods_brand = #{goodsBrand} AND
        </if>
        <if test="goodsThirdtitle != null">
            g.goods_thirdTitle = #{goodsThirdtitle} AND
        </if>
        (g.goods_brand LIKE
        <bind name="likename" value="'%'+keyword+'%'" />
        #{likename} OR
        g.goods_primaryTitle LIKE
        <bind name="likename" value="'%'+keyword+'%'" />
        #{likename} OR
        g.goods_secondTitle LIKE
        <bind name="likename" value="'%'+keyword+'%'" />
        #{likename} OR
        g.goods_thirdTitle LIKE
        <bind name="likename" value="'%'+keyword+'%'" />
        #{likename})
    </select>
    <!--3.不包含activity，不包含模糊查询条件
          大前提 一级标题+二级标题
          可选勾选条件为 品牌+三级标题-->
    <select id="findGoodsByGuide" resultMap="BaseResultMap" parameterType="Goods">
        select * FROM
        ml_goods
        where
        <if test="goodsBrand != null">
            goods_brand = #{goodsBrand} AND
        </if>
        <if test="goodsThirdtitle != null">
            goods_thirdTitle = #{goodsThirdtitle} AND
        </if>
        goods_primaryTitle = #{goodsPrimarytitle} AND
        goods_secondTitle = #{goodsSecondtitle}
    </select>


    <!--根据所属活动的商品，查询总共有哪些 品牌or三级标题-->
    <select id="findBrandOrThirdTitleByGoods" resultType="String" parameterType="Map">
        SELECT DISTINCT ${brand_or_thirdTitle}
        FROM ml_goods WHERE
        goods_activityId = #{goodsActivityid}
    </select>
    <!--搜索框 模糊查询-->
    <select id="findGoodsBySearchBox" resultMap="BaseResultMap" parameterType="String">
        SELECT * from ml_goods g
        WHERE
        g.goods_brand LIKE
        <bind name="likename" value="'%'+_parameter+'%'" />
        #{likename} OR
        g.goods_primaryTitle LIKE
        <bind name="likename" value="'%'+_parameter+'%'" />
        #{likename} OR
        g.goods_secondTitle LIKE
        <bind name="likename" value="'%'+_parameter+'%'" />
        #{likename} OR
        g.goods_thirdTitle LIKE
        <bind name="likename" value="'%'+_parameter+'%'" />
        #{likename}
    </select>
    <!--商品详情-->
    <select id="findGoodsInfo" resultMap="goodsToSize" parameterType="Goods">
        select * FROM ml_goods g
        INNER JOIN ml_size s
        on s.goods_size_Id=g.goods_id AND g.goods_id= #{goodsId}
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from ml_goods
        where goods_id = #{goodsId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ml_goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.lanou.model.Goods">
    insert into ml_goods (goods_id, goods_name, goods_color, 
      goods_brand, goods_currentPrice, goods_beforePrice, 
      goods_discount, goods_description, goods_primaryTitle, 
      goods_secondTitle, goods_thirdTitle, pic1, 
      pic2, pic3, pic4, pic_sizeInfo, 
      pic_productInfo, pic_baoYang, pic5, 
      pic6, pic7, pic8, pic9, 
      pic10, pic11, pic12, 
      pic_priceIndication, pic_afterSales, creat_time, 
      update_time, goods_activityId)
    values (#{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsColor,jdbcType=VARCHAR}, 
      #{goodsBrand,jdbcType=VARCHAR}, #{goodsCurrentprice,jdbcType=DECIMAL}, #{goodsBeforeprice,jdbcType=DECIMAL}, 
      #{goodsDiscount,jdbcType=VARCHAR}, #{goodsDescription,jdbcType=VARCHAR}, #{goodsPrimarytitle,jdbcType=VARCHAR}, 
      #{goodsSecondtitle,jdbcType=VARCHAR}, #{goodsThirdtitle,jdbcType=VARCHAR}, #{pic1,jdbcType=VARCHAR}, 
      #{pic2,jdbcType=VARCHAR}, #{pic3,jdbcType=VARCHAR}, #{pic4,jdbcType=VARCHAR}, #{picSizeinfo,jdbcType=VARCHAR}, 
      #{picProductinfo,jdbcType=VARCHAR}, #{picBaoyang,jdbcType=VARCHAR}, #{pic5,jdbcType=VARCHAR}, 
      #{pic6,jdbcType=VARCHAR}, #{pic7,jdbcType=VARCHAR}, #{pic8,jdbcType=VARCHAR}, #{pic9,jdbcType=VARCHAR}, 
      #{pic10,jdbcType=VARCHAR}, #{pic11,jdbcType=VARCHAR}, #{pic12,jdbcType=VARCHAR}, 
      #{picPriceindication,jdbcType=VARCHAR}, #{picAftersales,jdbcType=VARCHAR}, #{creatTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{goodsActivityid,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.lanou.model.Goods">
        insert into ml_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="goodsColor != null">
                goods_color,
            </if>
            <if test="goodsBrand != null">
                goods_brand,
            </if>
            <if test="goodsCurrentprice != null">
                goods_currentPrice,
            </if>
            <if test="goodsBeforeprice != null">
                goods_beforePrice,
            </if>
            <if test="goodsDiscount != null">
                goods_discount,
            </if>
            <if test="goodsDescription != null">
                goods_description,
            </if>
            <if test="goodsPrimarytitle != null">
                goods_primaryTitle,
            </if>
            <if test="goodsSecondtitle != null">
                goods_secondTitle,
            </if>
            <if test="goodsThirdtitle != null">
                goods_thirdTitle,
            </if>
            <if test="pic1 != null">
                pic1,
            </if>
            <if test="pic2 != null">
                pic2,
            </if>
            <if test="pic3 != null">
                pic3,
            </if>
            <if test="pic4 != null">
                pic4,
            </if>
            <if test="picSizeinfo != null">
                pic_sizeInfo,
            </if>
            <if test="picProductinfo != null">
                pic_productInfo,
            </if>
            <if test="picBaoyang != null">
                pic_baoYang,
            </if>
            <if test="pic5 != null">
                pic5,
            </if>
            <if test="pic6 != null">
                pic6,
            </if>
            <if test="pic7 != null">
                pic7,
            </if>
            <if test="pic8 != null">
                pic8,
            </if>
            <if test="pic9 != null">
                pic9,
            </if>
            <if test="pic10 != null">
                pic10,
            </if>
            <if test="pic11 != null">
                pic11,
            </if>
            <if test="pic12 != null">
                pic12,
            </if>
            <if test="picPriceindication != null">
                pic_priceIndication,
            </if>
            <if test="picAftersales != null">
                pic_afterSales,
            </if>
            <if test="creatTime != null">
                creat_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="goodsActivityid != null">
                goods_activityId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="goodsName != null">
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsColor != null">
                #{goodsColor,jdbcType=VARCHAR},
            </if>
            <if test="goodsBrand != null">
                #{goodsBrand,jdbcType=VARCHAR},
            </if>
            <if test="goodsCurrentprice != null">
                #{goodsCurrentprice,jdbcType=DECIMAL},
            </if>
            <if test="goodsBeforeprice != null">
                #{goodsBeforeprice,jdbcType=DECIMAL},
            </if>
            <if test="goodsDiscount != null">
                #{goodsDiscount,jdbcType=VARCHAR},
            </if>
            <if test="goodsDescription != null">
                #{goodsDescription,jdbcType=VARCHAR},
            </if>
            <if test="goodsPrimarytitle != null">
                #{goodsPrimarytitle,jdbcType=VARCHAR},
            </if>
            <if test="goodsSecondtitle != null">
                #{goodsSecondtitle,jdbcType=VARCHAR},
            </if>
            <if test="goodsThirdtitle != null">
                #{goodsThirdtitle,jdbcType=VARCHAR},
            </if>
            <if test="pic1 != null">
                #{pic1,jdbcType=VARCHAR},
            </if>
            <if test="pic2 != null">
                #{pic2,jdbcType=VARCHAR},
            </if>
            <if test="pic3 != null">
                #{pic3,jdbcType=VARCHAR},
            </if>
            <if test="pic4 != null">
                #{pic4,jdbcType=VARCHAR},
            </if>
            <if test="picSizeinfo != null">
                #{picSizeinfo,jdbcType=VARCHAR},
            </if>
            <if test="picProductinfo != null">
                #{picProductinfo,jdbcType=VARCHAR},
            </if>
            <if test="picBaoyang != null">
                #{picBaoyang,jdbcType=VARCHAR},
            </if>
            <if test="pic5 != null">
                #{pic5,jdbcType=VARCHAR},
            </if>
            <if test="pic6 != null">
                #{pic6,jdbcType=VARCHAR},
            </if>
            <if test="pic7 != null">
                #{pic7,jdbcType=VARCHAR},
            </if>
            <if test="pic8 != null">
                #{pic8,jdbcType=VARCHAR},
            </if>
            <if test="pic9 != null">
                #{pic9,jdbcType=VARCHAR},
            </if>
            <if test="pic10 != null">
                #{pic10,jdbcType=VARCHAR},
            </if>
            <if test="pic11 != null">
                #{pic11,jdbcType=VARCHAR},
            </if>
            <if test="pic12 != null">
                #{pic12,jdbcType=VARCHAR},
            </if>
            <if test="picPriceindication != null">
                #{picPriceindication,jdbcType=VARCHAR},
            </if>
            <if test="picAftersales != null">
                #{picAftersales,jdbcType=VARCHAR},
            </if>
            <if test="creatTime != null">
                #{creatTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="goodsActivityid != null">
                #{goodsActivityid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lanou.model.Goods">
        update ml_goods
        <set>
            <if test="goodsName != null">
                goods_name = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsColor != null">
                goods_color = #{goodsColor,jdbcType=VARCHAR},
            </if>
            <if test="goodsBrand != null">
                goods_brand = #{goodsBrand,jdbcType=VARCHAR},
            </if>
            <if test="goodsCurrentprice != null">
                goods_currentPrice = #{goodsCurrentprice,jdbcType=DECIMAL},
            </if>
            <if test="goodsBeforeprice != null">
                goods_beforePrice = #{goodsBeforeprice,jdbcType=DECIMAL},
            </if>
            <if test="goodsDiscount != null">
                goods_discount = #{goodsDiscount,jdbcType=VARCHAR},
            </if>
            <if test="goodsDescription != null">
                goods_description = #{goodsDescription,jdbcType=VARCHAR},
            </if>
            <if test="goodsPrimarytitle != null">
                goods_primaryTitle = #{goodsPrimarytitle,jdbcType=VARCHAR},
            </if>
            <if test="goodsSecondtitle != null">
                goods_secondTitle = #{goodsSecondtitle,jdbcType=VARCHAR},
            </if>
            <if test="goodsThirdtitle != null">
                goods_thirdTitle = #{goodsThirdtitle,jdbcType=VARCHAR},
            </if>
            <if test="pic1 != null">
                pic1 = #{pic1,jdbcType=VARCHAR},
            </if>
            <if test="pic2 != null">
                pic2 = #{pic2,jdbcType=VARCHAR},
            </if>
            <if test="pic3 != null">
                pic3 = #{pic3,jdbcType=VARCHAR},
            </if>
            <if test="pic4 != null">
                pic4 = #{pic4,jdbcType=VARCHAR},
            </if>
            <if test="picSizeinfo != null">
                pic_sizeInfo = #{picSizeinfo,jdbcType=VARCHAR},
            </if>
            <if test="picProductinfo != null">
                pic_productInfo = #{picProductinfo,jdbcType=VARCHAR},
            </if>
            <if test="picBaoyang != null">
                pic_baoYang = #{picBaoyang,jdbcType=VARCHAR},
            </if>
            <if test="pic5 != null">
                pic5 = #{pic5,jdbcType=VARCHAR},
            </if>
            <if test="pic6 != null">
                pic6 = #{pic6,jdbcType=VARCHAR},
            </if>
            <if test="pic7 != null">
                pic7 = #{pic7,jdbcType=VARCHAR},
            </if>
            <if test="pic8 != null">
                pic8 = #{pic8,jdbcType=VARCHAR},
            </if>
            <if test="pic9 != null">
                pic9 = #{pic9,jdbcType=VARCHAR},
            </if>
            <if test="pic10 != null">
                pic10 = #{pic10,jdbcType=VARCHAR},
            </if>
            <if test="pic11 != null">
                pic11 = #{pic11,jdbcType=VARCHAR},
            </if>
            <if test="pic12 != null">
                pic12 = #{pic12,jdbcType=VARCHAR},
            </if>
            <if test="picPriceindication != null">
                pic_priceIndication = #{picPriceindication,jdbcType=VARCHAR},
            </if>
            <if test="picAftersales != null">
                pic_afterSales = #{picAftersales,jdbcType=VARCHAR},
            </if>
            <if test="creatTime != null">
                creat_time = #{creatTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="goodsActivityid != null">
                goods_activityId = #{goodsActivityid,jdbcType=INTEGER},
            </if>
        </set>
        where goods_id = #{goodsId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lanou.model.Goods">
    update ml_goods
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_color = #{goodsColor,jdbcType=VARCHAR},
      goods_brand = #{goodsBrand,jdbcType=VARCHAR},
      goods_currentPrice = #{goodsCurrentprice,jdbcType=DECIMAL},
      goods_beforePrice = #{goodsBeforeprice,jdbcType=DECIMAL},
      goods_discount = #{goodsDiscount,jdbcType=VARCHAR},
      goods_description = #{goodsDescription,jdbcType=VARCHAR},
      goods_primaryTitle = #{goodsPrimarytitle,jdbcType=VARCHAR},
      goods_secondTitle = #{goodsSecondtitle,jdbcType=VARCHAR},
      goods_thirdTitle = #{goodsThirdtitle,jdbcType=VARCHAR},
      pic1 = #{pic1,jdbcType=VARCHAR},
      pic2 = #{pic2,jdbcType=VARCHAR},
      pic3 = #{pic3,jdbcType=VARCHAR},
      pic4 = #{pic4,jdbcType=VARCHAR},
      pic_sizeInfo = #{picSizeinfo,jdbcType=VARCHAR},
      pic_productInfo = #{picProductinfo,jdbcType=VARCHAR},
      pic_baoYang = #{picBaoyang,jdbcType=VARCHAR},
      pic5 = #{pic5,jdbcType=VARCHAR},
      pic6 = #{pic6,jdbcType=VARCHAR},
      pic7 = #{pic7,jdbcType=VARCHAR},
      pic8 = #{pic8,jdbcType=VARCHAR},
      pic9 = #{pic9,jdbcType=VARCHAR},
      pic10 = #{pic10,jdbcType=VARCHAR},
      pic11 = #{pic11,jdbcType=VARCHAR},
      pic12 = #{pic12,jdbcType=VARCHAR},
      pic_priceIndication = #{picPriceindication,jdbcType=VARCHAR},
      pic_afterSales = #{picAftersales,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      goods_activityId = #{goodsActivityid,jdbcType=INTEGER}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
</mapper>